<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 1931238 (feat: implement main layout with MudBlazor components and dark/light mode toggle)
@inherits LayoutComponentBase
@using MudBlazor
@using CreditInTimeFront.WebApp.Shared.Themes

<MudThemeProvider Theme="BancoAgricolaTheme.GetTheme()" @bind-IsDarkMode="_isDarkMode" />

<<<<<<< HEAD
<MudPopoverProvider />
=======
>>>>>>> 1931238 (feat: implement main layout with MudBlazor components and dark/light mode toggle)
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout Class="app-shell">

    <MudDrawer Open="true"
               Elevation="1"
               Variant="DrawerVariant.Persistent"
               Class="app-shell-drawer">
<<<<<<< HEAD
        <NavMenu />
    </MudDrawer>

    <MudMainContent Style="padding-top: 0;" Class="app-shell-content">
        <MudContainer MaxWidth="MaxWidth.False" Class="pa-6">
            @Body
        </MudContainer>
    </MudMainContent>

</MudLayout>
=======
﻿@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
=======
>>>>>>> 1931238 (feat: implement main layout with MudBlazor components and dark/light mode toggle)
        <NavMenu />
    </MudDrawer>

    <MudMainContent Style="padding-top: 0;" Class="app-shell-content">
        <MudContainer MaxWidth="MaxWidth.False" Class="pa-6">
            @Body
<<<<<<< HEAD
        </article>
    </main>
</div>
>>>>>>> a2430f8 (feat: initial project structure based on Frontend)
=======
        </MudContainer>
    </MudMainContent>

</MudLayout>
>>>>>>> 1931238 (feat: implement main layout with MudBlazor components and dark/light mode toggle)
